p{
  color: black;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
}

h1{
  color: #8B008B;
  font-family: 'Arvo', Georgia, "Times New Roman", serif;
  text-align: center;
}

body{
  background-color: #FFB6C1;
}

#container{
  background-color: #fff;
  width: 80%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto;
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav Li{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #fff;
  background-color: #DDA0DD;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#nav a:hover, #nav a:active{
  background-color: #8B008B;
}

#footer{
  color: #666666;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

img{
  border: none;
}
